<div id="<%= dom_id incident %>">
  <p>
    <strong>Inc:</strong>
    <%= incident.inc_id %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= incident.desc %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= incident.user_name %>
  </p>

</div>
